.vscode/
## For K8S secret files
k8s/**/*-secret.yaml
## For env files just in case
*.env
## Terraform files
terraform/*.lock.hcl
terraform/.terraform/
terraform/*.tfstate*
terraform/secret.auto.tfvars
